body {
    font-family: poppins;
    margin: 0;
}
h1 {
    font-size: 46px;
}
h3{
    font-size: 26px;
}
.topBanner {
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
    padding: 0 60px;
}
.half-width img {
    width: 100%;
}
.text {
    color: #FA6957;
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-color: #FA6957;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 30px;
}
p{
    text-align: justify;
    
}
.dreamBig {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
.experience-item {
    width: 50%;
    padding: 40px 25px;
    margin: 0 6%;
    box-shadow: 10px 10px 40px rgb(138, 138, 138);
}
.head{
    margin-left: 70px;
    color: #FA6957;
}
.exp-container{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p {
    text-align: center;
}