body {
    font-family: poppins;
    margin: 0;
}
h1 {
    font-size: 46px;
}
h3{
    font-size: 26px;
}
.flexible-container {
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
    padding: 0 60px;
}
.half-width img {
    width: 100%;
}
.text {
    color: #FA6957;
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-color: #FA6957;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 30px;
}
p{
    text-align: justify;
    
}
.flexible-container {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}